<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Introdução ao Vue JS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

    <div id="app">
        <gui-titulo titulo="Formulários"></gui-titulo>

        <p>Texto: {{texto}}</p>
        <p><input type="text" v-model="texto" placeholder="Texto"></p>

        <p>Textarea: {{textarea}}</p>
        <p style="white-space:pre-line">{{textarea}}</p>
        <p><textarea v-model="textarea" cols="80" rows="8"></textarea></p>

        <p>Checkbox:</p>
        <input type="checkbox" id="aceitaTermos" v-model="termos">
        <label for="aceitaTermos">{{termos}}</label>

        <p>Multiplos Checkboxes: {{notificacoes}}</p>
        <p>
            <input type="checkbox" id="receberEmail" value="email" v-model="notificacoes">
            <label for="receberEmail">Receber e-mail</label>

            <input type="checkbox" id="receberSMS" value="sms" v-model="notificacoes">
            <label for="receberSMS">Receber SMS</label>

            <input type="checkbox" id="receberTel" value="tel" v-model="notificacoes">
            <label for="receberTel">Receber Ligação</label>
        </p>

        <p>Radio: {{sexo}}</p>
        <p>
            <input type="radio" id="masculino" value="M" v-model="sexo">
            <label for="masculino">Masculino</label>

            <input type="radio" id="feminino" value="F" v-model="sexo">
            <label for="feminino">Feminino</label>
        </p>

        <p>Select {{ano}}</p>
        <p>
            <select v-model="ano">
                <option disabled value="">Escolha o ano</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
            </select>
        </p>

        <p>Mult Select {{cores}}</p>
        <p>
            <select multiple v-model="cores">
                <option disabled value="">Escolha as cores</option>
                <option>Azul</option>
                <option>Vermelho</option>
                <option>Verde</option>
            </select>
        </p>

        <p>Lazy: {{busca}}</p>
        <p><input type="text" v-model.lazy="busca"></p>

        <p>Number: {{idade}} - tipo: {{typeof idade}}</p>
        <p><input type="number" v-model.number="idade"></p>

    </div>

    <script type="text/x-template" id="gui-titulo">
        <h2>{{titulo}}</h2>
    </script>

    <script>

        Vue.component('gui-titulo', {
            props: ['titulo'],
            template: '#gui-titulo'
        });

        var app = new Vue({
            el: '#app',
            data: {
                texto: '',
                textarea: '',
                termos: true,
                notificacoes: [],
                sexo: null,
                ano: 2019,
                cores: [],
                busca:'',
                idade: 45
            }
        });
    </script>
</body>

</html>